.mission {
  text-align: center;
  margin-bottom: 3%;
}

// .things {
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     margin-top:2%;
// }
.sections {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 2%;
}

.btn {
  .button;
  @media (max-width: 500px) {
    width: 80%;
  }
}
