// Mixins in here

// Home page button settings  
  .button(@bg-colour:rgb(0,163,94), @width: 200px, @font-color: black) {
    display: block;
    background-color: @bg-colour;
    margin: 0 auto;
    cursor: pointer;
    width: @width;
    height: 35px;
    font-size: 2rem;
    border-radius: 10px;
    color: @font-color;
    text-align: center;
    align-items: center;
    padding-top: 1%;
  
    &:hover {
      background-color: @font-color;
      color: @bg-colour;
    }
  }

